.container {
    text-align: center;
    width: 80vw;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 1rem 1rem 1.2rem grey;
    margin: 3rem 3rem;
}

.hero {
    background-color: #f4f4f4;
    padding-bottom: 0.65rem;
    padding-top: 0.65rem;
}

.rating {
    color: #F4B400;
    font-size: 1.65rem;
}

.content {
    text-align: left;
}