footer {
    text-align: center;
 }


body {
    font-family: "Sofia", sans-serif;
 }



header {
    text-align: center;
    background-color: #f4f4f4;
    padding-bottom: 0.65rem;
    padding-top: 2rem;
}
